body {
    float: none;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px ;
    overflow: auto;
}
#body {
    margin: 0 auto;
}
a {
    /* color: black; */
    color: white;
}
/* a태그 밑줄 없애줌 */
a:link { 
    /* color: black; */
    color: white;
    text-decoration: none;
}
/* 이미 방문한 사이트도 black으로 */
a:visited { color: white; text-decoration: none;}
/* a태그에 마우스를 올려놨을떄의 색깔 */
a:hover { color: white; text-decoration: underline;}
input {
    color:black;
}
/* header */
header {
    margin: 10px 0px 0px 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-size: 20px;
    /* background-color: black; */
    background-color:rgb(29, 29, 29);
    color: white;
   
}
header #title {
    /* position:inherit; */
    font-size:40px;
    text-align:justify;
    text-justify:inter-word; 
    /* width: 100%; */
    float: left;
    /* margin:0 auto; */
    color: white;
   

    /* background-color: blueviolet; */
}
header #login_page,#join_page ,#user_id,#logoutBt{
    margin-left: 10px;
    margin-top: 10px;
    float: right;
}

nav {
    margin: 10px 10px 0px 10px;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid black;
}

#menu_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    flex: none;
    font-size: 21px;
}
#menu_list li {
    margin-left: 5px;
    margin-right: 20px;
    float: left;
} 
.menu_side {
    list-style: none;
    flex: none;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
    
}
.menu_side li {
    margin: 10px 0px 10px 10px;
}
#search_BT {
    float: right;
}
/* main */
#main_content {
    display: flex;
    flex: 1;
    text-align: center;
    margin: 10px auto;
    width: 95%;
}

/* section */
section {
    margin-left: auto;
    margin-right: auto;
}
footer {
    margin-top: auto;
    margin-left: 10px;
    border-top: 3px solid black;
    height: 50px;
}
aside {
    float: left;
    width: 150px;
    border: 1px solid black;
}
section {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
h1 {
    text-align: center;
}
header, nav,footer {
    margin: 0px;
        background-color:rgb(29, 29, 29);
}