body {
    float: none;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 100vh;
    padding: 0px ;
    overflow: auto;
    /* margin: 0 auto; */
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
 
}
#body {
    margin: 0 auto;
}
a {
    color: black;
}
/* a태그 밑줄 없애줌 */
a:link { color: black;text-decoration: none;}
/* 이미 방문한 사이트도 black으로 */
a:visited { color: black; text-decoration: none;}
/* a태그에 마우스를 올려놨을떄의 색깔 */
a:hover { color: blue; text-decoration: underline;}

/* header */
header {
    margin: 10px 0px 0px 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-size: 20px;
   
}
header #title {
    font-size:40px;
    text-align:justify;
    text-justify:inter-word; 
    /* width: 100%; */
    float: left;

    /* background-color: blueviolet; */
}
header #login_page,#join_page ,#user_id,#logoutBt{
    margin-left: 10px;
    margin-top: 10px;
    float: right;
}

nav {
    margin: 10px 10px 0px 10px;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid black;
}

#menu_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    flex: none;
    font-size: 21px;
}
#menu_list li {
    margin-left: 5px;
    margin-right: 20px;
    float: left;
} 
.menu_side {
    list-style: none;
    flex: none;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
    
}
.menu_side li {
    margin: 10px 0px 10px 10px;
}
#search_BT {
    /* margin-left: auto; */
    float: right;
}
/* main */
#main_content {
    /* margin: 0 auto; */
    display: flex;
    flex: 1;
    text-align: center;
    /* padding-left: 10px; */
    /* width: 100%; */
    margin: 10px auto;
    width: 95%;

}


/* section */
section {
    margin-left: auto;
    margin-right: auto;
}
footer {
    margin-top: auto;
    margin-left: 10px;
    border-top: 3px solid black;
    height: 50px;
}
aside {
    float: left;
    width: 150px;
    border: 1px solid black;
}
section {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  
}

h1 {
    text-align: center;
}


