#main_content {
    font-size: 20px;
    text-align: unset;
}
#full {
    width: 100%;
}
#select_list {
    margin: 20px 0px;
    min-height: 100px;
    line-height: 150%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* step 2 */
#seat_table {
    border-collapse: collapse;
    text-align: center;
}
#seat_table td{
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
}
.seat_yes_R, .seat_yes_S {
    border: 1px solid black;
}
.seat_yes_R {
    background-color: LightYellow;
}
.seat_yes_S {
    background-color: LavenderBlush;
}
.seat_do_R, .seat_do_S {
    background-color:MediumPurple;
}
#table_div, #div1 {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}
#div1 {
    height: 50px;
}
#table_div {
    padding: 10px;
}
#show {
    border: 1px solid black;
}

/* step3 */
#main_pay {
    text-align: unset;
    width: 100%;
}
#pay_info_2,#pay_info_card{
    display: none;
}

/* guide */
#table_div_guide {
    position: relative;
}
#seat_table_guide {
    text-align: center;
}
h2 {
    text-align: center;
    font-style: unset;
}
#seat_table_guide td {
    width: 50px;
    height: 50px;
}
#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.seat_already_S,.seat_already_R {
    background-color: gray;
}